<h1>Tacos are delish</h1>

<!-- I'm an HTML comment -->

<% 
    tacos = ["Carnita", "Al Pastor", "Fish"]
%>

<p>There are <%= tacos.count %> tacos:</p>

<ul>
    <% for taco in tacos %>
        <li> <%= taco %></li>
    <% end %>
</ul>